<div class="container">
  <div class="showcase">
    <!-- rest, hover, active, disabled, focus -->

    <table>
      <thead>
        <tr>
          <th>Rest</th>
          <th>Hover</th>
          <th>Active</th>
          <th>Disabled</th>
          <th>Focus</th>
        </tr>
      </thead>

      <tbody>
        <!-- PRIMARY -->
        <tr>
          <td>
            <button medatus-button color="primary">Rest</button>
          </td>
          <td>
            <button medatus-button color="primary" class="medatus-button-hover">
              Hover
            </button>
          </td>
          <td>
            <button
              medatus-button
              color="primary"
              class="medatus-button-active"
            >
              Active
            </button>
          </td>
          <td>
            <button
              medatus-button
              color="primary"
              class="medatus-button-disabled"
              disabled
            >
              Disabled
            </button>
          </td>
          <td>
            <button medatus-button color="primary" class="medatus-button-focus">
              Focus
            </button>
          </td>
        </tr>

        <!-- SECONDARY -->
        <tr>
          <td>
            <button medatus-button color="secondary">Rest</button>
          </td>
          <td>
            <button
              medatus-button
              color="secondary"
              class="medatus-button-hover"
            >
              Hover
            </button>
          </td>
          <td>
            <button
              medatus-button
              color="secondary"
              class="medatus-button-active"
            >
              Active
            </button>
          </td>
          <td>
            <button
              medatus-button
              color="secondary"
              class="medatus-button-disabled"
              disabled
            >
              Disabled
            </button>
          </td>
          <td>
            <button
              medatus-button
              color="secondary"
              class="medatus-button-focus"
            >
              Focus
            </button>
          </td>
        </tr>

        <!-- PRIMARY SMALL -->
        <tr>
          <td>
            <button size="small" medatus-button color="primary">Rest</button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="primary"
              class="medatus-button-hover"
            >
              Hover
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="primary"
              class="medatus-button-active"
            >
              Active
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="primary"
              class="medatus-button-disabled"
              disabled
            >
              Disabled
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="primary"
              class="medatus-button-focus"
            >
              Focus
            </button>
          </td>
        </tr>

        <!-- SECONDARY SMALL -->
        <tr>
          <td>
            <button size="small" medatus-button color="secondary">Rest</button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="secondary"
              class="medatus-button-hover"
            >
              Hover
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="secondary"
              class="medatus-button-active"
            >
              Active
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="secondary"
              class="medatus-button-disabled"
              disabled
            >
              Disabled
            </button>
          </td>
          <td>
            <button
              size="small"
              medatus-button
              color="secondary"
              class="medatus-button-focus"
            >
              Focus
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
